@import 'variables';
@import 'feedback-dialog';

html body {
  margin: 0 !important;
  background-color: white;
  overflow: hidden;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: $N800;
}
a {
  outline: 0;
  font-size: 14px;
  color: $B400;
  cursor: pointer;

  &:hover {
    color: $B300;
  }
}
p {
  margin-top: 14px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.006em;
}
h2 {
  font-size: 24px;
  font-weight: $medium;
  line-height: 28px;
  letter-spacing: -0.01em;
}

.heading {
  display: flex;
  align-items: center;

  img {
    width: 75px;
    height: auto;
    margin-right: 15px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px !important;
  margin-left: 15px;

  .connection {
    .status {
      display: flex;
      align-items: center;
    }
    .username {
      font-weight: 500;
      cursor: pointer;
    }
  }
  .crmName {
    margin-right: 7px;
    color: #333;
    font-size: 22px;
    font-weight: normal;
  }
  .sync {
    display: flex;
    align-items: center;

    .stats {
      display: flex;

      & > div { margin-right: 15px; }
    }
    em {
      font-style: normal;
      font-weight: 700;
    }
  }
}
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin-left: 45%;
  margin-top: 15%;
}

.ak-field-checkbox {
  user-select: none;
}

// InitialPage
.integrate-jira-svg {
  display: block;
  width: 394px;
  height: auto;
  margin: 0 auto;
}
.integration-description {
  width: 482px;
  margin: 40px auto 0;
}
.centered-btn {
  margin-top: 20px;
  text-align: center;
}
.crm-selector {
  width: 482px;
  margin: 40px auto 0;

  h4 {
    margin-bottom: 16px;
    color: $N80;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: $semibold;
  }
  .crm-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .crm {
    position: relative;
  }
  .logo {
    width: 135px;
    height: 85px;
    border: 1px solid $N50;
    border-radius: 3px;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 0px 0px $N50;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &.active {
      border-color: $B400;
      box-shadow: 0 0 0px 1px $B400;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .coming-soon {
    position: absolute;
    border: 1px solid #c1c7d0;
    border-radius: 3px;
    width: 135px;
    height: 85px;
    margin-top: 0;
    top: 0px;
    line-height: 85px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: $bold;
    color: $N200;
    pointer-events: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  .crm.disabled:hover {
    .logo {
      opacity: 0.1;
    }
    .coming-soon {
      opacity: 1;
    }
  }
  p {
    margin-top: 8px;
    font-size: 16px;
  }
}

// MainPage
.project-config-main {
  min-height: 250px;
}
.confirmation-dialog .buttons {
  margin-top: 20px;
  text-align: right;
}
.main-content {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  .preview {
    margin-left: 40px;

    h3 {
      margin: 20px 0 6px 2px;
      font-size: 14px;
      color: $N500;
    }
    .preview-box {
      width: 300px;
      padding: 5px 16px;
    }
    .feedback {
      margin-top: 15px;
      text-align: right;
    }
  }
  .tabs {
    flex-grow: 1;
    padding-left: 7px;
  }
}

.tabs [role='tablist'] {
  margin-top: 15px;
}
.tab-content {
  width: 100%;

  .limiting-block {
    width: 100%;
    display: flex;
    margin-left: -2px;
    margin-bottom: 20px;
    padding-left: 2px;
  }
  button {
    margin-left: -12px;
  }
}
.checkboxes {
  flex-basis: 50%;
  margin-top: 6px;

  h4 {
    margin-top: 10px;
    color: $N200;
    font-size: 14px;
    font-weight: normal;
  }
  .filter label {
    margin-top: -15px;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  label {
    margin-left: -10px;
    cursor: pointer;
    user-select: none;
  }
  &.disabled {
    label, input {
      cursor: not-allowed;
      color: $N80;
    }
  }
  .empty {
    color: $N300;
  }
}
.action-buttons {
  margin-top: 30px;
  margin-left: 7px;

  button:not(:first-of-type) {
    margin-left: 10px;
  }
}

.actions-btn span {
  vertical-align: middle;
}

// Issue panel
.issue-spinner {
  display: flex;
  margin-top: 15px;

  &.child {
    padding-left: 25px;
  }
}
.no-connection {
  margin-left: -16px;
  margin-right: -16px;

  p, a { font-size: 12px; }
  p { margin-top: 5px; }
}
.issue-panel {
  margin-left: -16px;
  margin-right: -16px;

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.has-contacts { margin-top: 16px; }
  }
  .feedback-button { margin-right: -10px; }
  .top-object {
    margin: 12px 0;

    & > .heading {
      display: flex;
      align-items: center;

      a {
        margin-left: 5px;
      }
    }
    .heading-expandable {
      display: flex;
      align-items: center;
      padding: 5px 0;
      color: $N300;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: $medium;
      cursor: pointer;
    }
    .icon {
      width: 24px;
      height: auto;
      margin-left: 1px;
      margin-right: 8px;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor;
    }
  }
  .issue-delete {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
  }
  .issue-delete span {
    cursor: pointer;
  }
  .boolean-icon {
    transform: translateX(-6px);
  }
}
.item-details {
  margin-left: 25px;
  padding: 3px 0;

  .item-heading {
    color: $N300;
    font-size: 13px;
    font-weight: $medium;
  }

  .item-description {
    color: $N900;
    font-weight: $medium;
  }
}
.child-object {
  margin-left: 16px;
  padding: 7px 0;

  &:last-of-type {
    margin-bottom: 5px;
  }

  .heading {
    display: flex;
    align-items: center;
    color: $N300;
    font-size: 13px;
    font-weight: $medium;
    cursor: pointer;

    .icon {
      width: 20px;
      height: auto;
      margin-right: 8px;
    }
  }
  .empty-object {
    margin-top: 5;
    margin-left: 25px;
    color: $N80;
  }
}
// Copy
.empty-object {
  margin-top: -4px;
  margin-left: 24px;
  font-size: 12px;
}
.item {
  display: flex;
  flex-wrap: wrap;
  margin-left: 24px;
  margin-bottom: 9px;

  .title {
    flex-basis: 100%;
    font-weight: 500;
  }
  .field {
    box-sizing: border-box;
    flex-basis: 50%;
    padding-right: 30px;
    font-size: 10px;

    a {
      font-size: inherit;
    }
    &-label {
      margin-right: 5px;
    }
  }
}

// Dialog
.dialog-window {
  margin-left: -16px;
  margin-right: -16px;

  label > div {
    padding-top: 0;
  }
  .form-group {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .input {
      flex-grow: 1;
      margin-right: 15px;

      div {
        width: 100%;
      }
    }
  }

  table {
    margin-top: 15px;
  }
  tr * {
    cursor: pointer;
  }

  tr.selected {
    background-color: $N30;
  }

  td {
    padding: 0 !important;

    .cell {
      display: block;
      height: 48px;
      line-height: 48px;
      text-overflow: ellipsis;
      padding-right: 15px;
      overflow: hidden;
      white-space: nowrap;

      & > span {
        background: none;
      }
      .icon {
        height: 100%;
        width: 100%;
      }
      & > span > div > span:last-of-type {
        width: 18px;
        height: 18px;
      }
    }
  }
}

// Get Started
.get-started {
  padding-top: 25px;
  text-align: center;

  .project-select {
    display: inline-block;
    margin-top: 25px;
    text-align: left;

    .connect-button {
      margin-top: 15px;
      margin-bottom: 65px;
    }
  }
}
